* .bg-dyn {
  background-color: black;
  background-size: 400% 400%;
  height: 100vh;
  font-family: "Inconsolata", monospace;
}
.header {
  margin-top: 0px;
  color: white;
}

.hover-highlight-animation-1 {
  color: lightcoral;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s;
}

.hover-highlight-animation-1:hover {
  background-color: lightcoral;
  color: white;
  text-decoration: none;
}

.hover-highlight-animation-2 {
  color: lightgreen;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s;
}

.hover-highlight-animation-2:hover {
  color: white;
  text-decoration: none;
  background-color: lightgreen;
}

.hover-highlight-animation-3 {
  color: lightblue;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s;
}

.hover-highlight-animation-3:hover {
  color: white;
  text-decoration: none;
  background-color: lightblue;
}

.hover-highlight-animation-4 {
  color: lightseagreen;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s;
}

.hover-highlight-animation-4:hover {
  color: white;
  text-decoration: none;
  background-color: lightseagreen;
}

.hover-highlight-animation-5 {
  color: indigo;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s;
}

.hover-highlight-animation-5:hover {
  color: white;
  text-decoration: none;
  background-color: indigo;
}

.hover-highlight-animation-img {
  background-color: gray;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s;
}

.hover-highlight-animation-img:hover {
  text-decoration: none;
  background-color: whitesmoke;
}

.web-link {
  color: lightblue;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s;
}

.web-link:hover {
  color: black;
  text-decoration: none;
  background-color: lightblue;
}

* .hover-underline-animation {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom middle;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom middle;
}

.hover-underline-animation:active {
}

.hover-opac {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.25s;
}

.hover-opac:hover {
  opacity: 1;
}

/* Hide the checkbox */
#toggle {
  display: none;
}
#toggle1 {
  display: none;
}
#toggle2 {
  display: none;
}

/* Styling for the clickable label */
#clickableText {
  cursor: pointer;
  color: red;
  /* Additional styling as needed */
}

/* Initially hide the content */
#hiddenText {
  display: none;
  color: blue;
  /* Additional styling as needed */
}

/* Display content when checkbox is checked */
#toggle:checked + #clickableText + #hiddenText {
  display: block;
}

#toggle1:checked + #clickableText + #hiddenText {
  display: block;
}

#toggle2:checked + #clickableText + #hiddenText {
  display: block;
}
