* .bg-dyn {
  background-color: black;
  background-size: 400% 400%;
  height: 100vh;
  font-family: "Inconsolata", monospace;
}
.header {
  margin-top: 0px;
  color: white;
}

.hover-highlight-animation-1 {
  color: lightcoral;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s;
}

.hover-highlight-animation-1:hover {
  background-color: lightcoral;
  color: white;
  text-decoration: none;
}

.hover-highlight-animation-2 {
  color: lightgreen;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s;
}

.hover-highlight-animation-2:hover {
  color: white;
  text-decoration: none;
  background-color: lightgreen;
}

.hover-highlight-animation-3 {
  color: lightblue;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s;
}

.hover-highlight-animation-3:hover {
  color: white;
  text-decoration: none;
  background-color: lightblue;
}

.hover-highlight-animation-4 {
  color: lightseagreen;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s;
}

.hover-highlight-animation-4:hover {
  color: white;
  text-decoration: none;
  background-color: lightseagreen;
}

* .hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom middle;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom middle;
}
